<ion-header>
  <ion-toolbar>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Retreat Bookings </h2>
  <ion-list>
    <ion-item *ngFor="let item of bookings" detail button routerLink="detail/{{item.id}}">
      <ion-label>
        <h3>{{item.billing.grandTotal}}</h3>
        <p>{{item.checkInDate.toDate() | date}} - {{item.checkOutDate.toDate() | date}}</p>
      </ion-label>
      <ion-chip color="primary" mode="ios" outline="true">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>{{item.persons.length}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
